.cardWord .iconme {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  color: #4986cc;
  margin-top: 2rem;
}
.cardWord .count {
  margin-left: 0.8rem;
}
.todoicon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;
}
.counttodo {
  margin-left: 0.8rem;
}

.cardWord h1 {
  font-size: 2rem;
  
}
.cardWord h4 {
  color: gray;
}
.cardWord h3 {
  font-style: italic;
}
.cardWord span {
  font-style: italic;
}
