.cardWord .iconme {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  color: #4986cc;
  margin-top: 2rem;
}
.cardWord .count {
  margin-left: 0.8rem;
}
.todoicon {
  width: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  
  
}
.todocoin {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.counttodo {
  margin-left: 0.8rem;
}

.cardWord h1 {
  font-size: 2rem;
  
}
.cardWord h4 {
  color: gray;
}
.cardWord h3 {
  font-style: italic;
}
.cardWord span {
  font-style: italic;
}

.tab {
 display: none;
}

.count {
  user-select: none;
}

